* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}

body {
    background-image: url(img/background2.jpg); /*NÃO CONSIGO PEGAR IMAGEM QUE ESTÁ LOCALIZADA EM ASSETS/IMG*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/*NAVBAR*/

nav {
    background-color: #21203f;
    text-align: center;
}

nav ul {
    display: inline-flex;
    list-style: none;
}

nav ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

nav ul li a{
    text-decoration: none;
    color: #fff1ce;
}

.sub-menu-contatos {
    display: none;
}

nav ul li:hover .sub-menu-contatos {
    display: block;
    position: absolute;
    background-color: #21203f;
    margin-top: 15px;
    margin-left: -38px;

}

nav ul li:hover .sub-menu-contatos ul {
    display: block;
}

nav ul li:hover .sub-menu-contatos ul li {
    width: 150px;
    text-align: center;
    border-radius: 10px;
    transition: 0.7s;
}

nav ul li:hover .sub-menu-contatos ul li:hover {
    background-color: #4b3c5d;
}

/*NAVBAR FIM*/