* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}

body {
    background-image: url(img/background2.jpg); /*NÃO CONSIGO PEGAR IMAGEM QUE ESTÁ LOCALIZADA EM ASSETS/IMG*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/*NAVBAR*/

nav {
    background-color: #21203f;
    text-align: center;
}

nav ul {
    display: inline-flex;
    list-style: none;
}

nav ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

nav ul li a{
    text-decoration: none;
    color: #fff1ce;
}

.sub-menu-contatos {
    display: none;
}

nav ul li:hover .sub-menu-contatos {
    display: block;
    position: absolute;
    background-color: #21203f;
    margin-top: 15px;
    margin-left: -38px;

}

nav ul li:hover .sub-menu-contatos ul {
    display: block;
}

nav ul li:hover .sub-menu-contatos ul li {
    width: 150px;
    text-align: center;
    border-radius: 10px;
    transition: 0.7s;
}

nav ul li:hover .sub-menu-contatos ul li:hover {
    background-color: #4b3c5d;
}

/*NAVBAR FIM*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


a {
    text-decoration: none;
    text-align: center;
}

body {
    background-color: rgb(255, 244, 244);
    overflow-x: hidden ;
}
/*NAVBAR*/

nav {
    background-color: #21203f;
    text-align: center;
}

nav ul {
    display: inline-flex;
    list-style: none;
}

nav ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

nav ul li a{
    text-decoration: none;
    color: #fff1ce;
}

.sub-menu-contatos {
    display: none;
}

nav ul li:hover .sub-menu-contatos {
    display: block;
    position: absolute;
    background-color: #21203f;
    margin-top: 15px;
    margin-left: -38px;

}

nav ul li:hover .sub-menu-contatos ul {
    display: block;
}

nav ul li:hover .sub-menu-contatos ul li {
    width: 150px;
    text-align: center;
    border-radius: 10px;
    transition: 0.7s;
}

nav ul li:hover .sub-menu-contatos ul li:hover {
    background-color: #4b3c5d;
}

/*NAVBAR FIM*/


h2{
    text-align: center;
    margin-top: 25px;
    font-style: normal;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    letter-spacing: 2px;

}

img{
    margin: 10px; ;
    max-width: 100px;
    max-height:100px;
    width: auto;
    height: auto;
}
#Gui{
    position: absolute;
    top: 28%;
    right:90%;
    max-width: 150px;
    max-height:150px;
    border: 2px solid;
    border-radius: 20%;
    border-color: black;

}
#dados{
    color: black;
    position: relative;
    margin-top: 14%;
    margin-left: 2%;
    font-size: 15px;
    font-style: normal;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#GuiDados{
    color: black;
    font-style: normal;
    font-weight: 700;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
#wpp{
    position: absolute;
    right: 96% ;
    height: 35px;
    top: 68%;
}
#linkedin{
    position: absolute;
    right: 92% ;
    height: 35px;
    top: 68%;
}
#github{
    position: absolute;
    right: 88% ;
    height: 35px;
    top: 68%;
}
