* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}

body {
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/*NAVBAR*/

nav {
    background-color: #21203f;
    text-align: center;
}

nav ul {
    display: inline-flex;
    list-style: none;
}

nav ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

nav ul li a{
    text-decoration: none;
    color: #fff1ce;
}

.sub-menu-contatos {
    display: none;
}

nav ul li:hover .sub-menu-contatos {
    display: block;
    position: absolute;
    background-color: #21203f;
    margin-top: 15px;
    margin-left: -38px;

}

nav ul li:hover .sub-menu-contatos ul {
    display: block;
}

nav ul li:hover .sub-menu-contatos ul li {
    width: 150px;
    text-align: center;
    border-radius: 10px;
    transition: 0.7s;
}

nav ul li:hover .sub-menu-contatos ul li:hover {
    background-color: #4b3c5d;
}

/*NAVBAR FIM*/

h2{
    text-align: center;
    margin: 0 100px;
    margin-top: 10px;
    font-style: normal;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    letter-spacing: 2px;
}

div img{
    margin-top: 0px;
    right: 45%;
    height: 500px;
    width: 400px;
}
