* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


a {
    text-decoration: none;
    text-align: center;
}

body {
    /*background-image: url(img/background2.jpg);*/
    background-color: #fff1ce;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: "Poppins",sans-serif;
}
/*NAVBAR*/

nav {
    background-color: #21203f;
    text-align: center;
}

nav ul {
    display: inline-flex;
    list-style: none;
}

nav ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

nav ul li a{
    text-decoration: none;
    color: #fff1ce;
}

.sub-menu-contatos {
    display: none;
}

nav ul li:hover .sub-menu-contatos {
    display: block;
    position: absolute;
    background-color: #21203f;
    margin-top: 15px;
    margin-left: -38px;

}

nav ul li:hover .sub-menu-contatos ul {
    display: block;
}

nav ul li:hover .sub-menu-contatos ul li {
    width: 150px;
    text-align: center;
    border-radius: 10px;
    transition: 0.7s;
}

nav ul li:hover .sub-menu-contatos ul li:hover {
    background-color: #4b3c5d;
}

/*NAVBAR FIM*/

button {
    background-color: #fff1ce;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 260px;
    text-decoration: none;
    text-align: center;
}

.botao-acessar {
    
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #fff1ce;
    background: #21203f;
  background: linear-gradient(90deg, #21203f 0%, #21203f 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.botao-acessar::before {
    content: '';
      border-radius: 1000px;
      min-width: calc(300px + 12px);
      min-height: calc(60px + 12px);
      border: 6px solid #21203f;
      box-shadow: 0 0 60px #21203f;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all .3s ease-in-out 0s;
      
    }
    
    .button:hover, .button:focus {
      color: #313133;
      transform: translateY(-6px);
    }
    
    button:hover::before, button:focus::before {
      opacity: 1;
    }
    
    button::after {
      content: '';
      width: 30px; height: 30px;
      border-radius: 100%;
      border: 6px solid #21203f;
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: ring 1.5s infinite;
    }
    
    button:hover::after, button:focus::after {
      animation: none;
      display: none;
    }
    
    @keyframes ring {
      0% {
        width: 30px;
        height: 30px;
        opacity: 1;
      }
      100% {
        width: 300px;
        height: 300px;
        opacity: 0;
      }
    }

    .nome-botao {
        text-align: center;
    }

    /*FOOTER*/

    footer{
      height: 50px; /* ALTURA DO FOOTER (ARRUMAR) */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
  }
  
  footer p{
      font-family: calibri;
  }
  
  footer p:nth-child(1){
      font-weight: bold;
      color: #2b4c7e;
      line-height: 40px;
      font-size: 30px;
  }
  
  footer p:nth-child(2){
      font-size: 16px;
      color: #7e7d7d;
      width: 500px;
      text-align: center;
  }
  
  .copy{
      color: #565555;
      font-size: 13px;
      position: absolute;
      left: 50%;
      bottom: 40px;
      transform: translateX(-50%);
  }

  /*FOOTER FIM*/
